<html>
	<head>
		<title>Natalie's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="https://www.google.com/">Natalie's Blog</a></h1>
			</div>

        <div>
            <p>published: 03.28.2015</p>
            <h2><a href="https://www.google.com/">My first post</a></h2>
            <p>This is my first post. I changed it from the Latin that was here originally.</p>
        </div>

        <div>
            <p>published: 03.28.2015</p>
            <h2><a href="https://www.google.com/">My second post</a></h2>
            <p>Today is Susan Provost's Birthday</p>
        </div>
    </body>
</html>
