<html>
	<head>
		<title>Natalie's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Natalie's Blog</a></h1>
		</div>

        {% for post in posts %}
        	<div>
        		<p>published:{{post.published_date }}</p>
        		<h1><a href="">{{ post.title }}</a></h1>
        		<p>{{post.text|linebreaks }}</p>
            </div>
        {% endfor %}

        <div>
            <p>published: 03.28.2015</p>
            <h2><a href="https://www.google.com/">My second post</a></h2>
            <p>Today is Susan Provost's Birthday</p>
        </div>
    </body>
</html>
